<!DOCTYPE html>
<html lang="en" xmlns:name="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>회원가입(Ajax)</title>
</head>

<body>
<h2>회원가입</h2>
<form action="/submit-your-form-handler" method="POST"></form>
<div>
    <label for="username">사용자이름:</label>
    <input type="text" id="username" name="username" required>
</div>
<div>
    <label for="userId">아이디:</label>
    <input type="text" id="userId" name="userId" required>
</div>
<div>
    <label for="userPw">비밀번호:</label>
    <input type="text" id="userPw" name="userPw" required>
</div>
<div>
    <label for="email">이메일:</label>
    <input type="text" id="email" name="email" required>
</div>

<button type="submit">가입</button>
</form>
</body>
</html>