<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.practice.study.testservice.TestServiceMapper">

    <select id="list" resultType="String">
        select  id              as id
                , title         as title
                , visit_cnt     as visitcnt
                , reg_id        as regid
                , reg_dt        as regdt
                , reg_id        as regid
        from t_board
    </select>

</mapper>